body {
  background-color:rgb(228, 228, 228);
  width: 100%;
  padding-top: 50px;
  height: auto;
}

#title {
  text-align: center;
  color: forestgreen;
  font-size: 40px;
}

#expenseSpace {
  background-color: rgb(136, 136, 135);
  border-radius: 20px;
  padding: 10px;
  margin-top: 25px;
  max-width: 1000px;
  width: 80%;
  min-height: 100px;
  margin-inline: auto;
}


#boxDiv {
  width: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  margin: 2px;
  display: flex;
  justify-content: space-between;
}

#inputSpace {
  background-color: forestgreen;
  height: 40px;
  align-items: center;
  max-width: 560px;
  border-radius: 7px;
  margin-inline: auto;
  display: flex;
  justify-content: space-around;
}

#date {
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
  border: none;
  height: 27px;
}

#text {
  border-radius: 7px;
  border: none;
  height: 26px;
  width: 200px;
}

#option {
  border-radius: 7px;
  border: none;
  height: 30px;
}

#cashAmount {
  border-radius: 7px;
  border: none;
  height: 27px;
  width: 100px;
}

#addBtn {
  border-radius: 7px;
  border: none;
  height: 30px;
}

#boxDiv {
  background-color: rgb(255, 255, 255);
}

#boxDiv > div{
  margin: 7px;
}

#divDate {
  width: 110px;
}

#divText {
  width: 200px;
}

#divOption {
  width: 50px;
}

#divCashAmount {
  width: 200px;
}

.income {
  color: forestgreen;
}

.expense {
  color: red;
}

#budgetSpace {
  font-size: 25px;
  background-color: white;
  border-radius: 7px;
  padding-left: 7px;
  margin-bottom: 80px;
  margin-inline: auto;
  max-width: 1000px;
  width: 80%;
}

p {
  font-size: 20px;
  background-color: forestgreen;
  border-radius: 7px;
  padding-left: 7px;
  color: white;
  margin-bottom: 5px;
  margin-inline: auto;
  max-width: 1000px;
  width: 80%;
}

.deliBtn {
  border-radius: 8px;
  border: none;
  background-color: rgb(255, 82, 82);
  width: 55px;
}
